@import url("https://fonts.googleapis.com/css?family=Roboto:400");
body{
    background: linear-gradient(70deg, green, gray);
}
ul {
    list-style-type: none;
    margin-top: 3%;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .4);
    opacity: 0,4;
}
li {
    float: left;
}
li a {
    display: block;
    border: 1px solid greenyellow;
    color: green;
    text-align: center;
    padding: 14px 213px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
h1{
    margin-left: 45%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    margin-left: 45%;
}
p{
    text-align: center;
}
.image img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.image:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.2); /* Safari et Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* Internet Explorer 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}



